body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 2em 0;
    position: relative;
    overflow: hidden;
    height: 100vh;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    text-align: center;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 0;
}

.slides {
    display: flex;
    width: 300%;
    height: 100%;
    animation: slide 30s infinite;
}

.slide {
    width: 33.333%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }
    33% {
        transform: translateX(-33.333%);
    }
    66% {
        transform: translateX(-66.666%);
    }
    100% {
        transform: translateX(0%);
    }
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    color: #4CAF50;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero p {
    font-size: 1.5em;
    z-index: 1;
    position: relative;
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    margin: 20px 0;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333;
}

#skills ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

#skills ul li {
    background: #4CAF50;
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.project {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 10px;
}

form input, form textarea, form button {
    margin-top: 5px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    margin: 20px;
}

.footer-section h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.footer-section p, .footer-section ul {
    font-size: 1em;
    
}

.footer-bottom div{
    justify-content: center;
    align-content: center;
}
